<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="utility.css">
  <title>Document</title>
</head>
<body>

    <div id="app" class="clearfix">

      <!-- container left -->
      <div id="container-left">

        <!-- header -->
        <section class="header ">

          <div class="left">
            <img :src="`img/avatar${user.avatar}.jpg`" alt="">
            <span>{{user.name}}</span>
          </div>

          <div class="right">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>

        </section>
        <!-- / header -->


        <!-- attiva notifiche -->
        <section id="attiva-notifiche">

          <div class="icon">
            <i class="fa-solid fa-bell-slash"></i>
          </div>

          <div>
            Ricevi notifiche di nuovi messaggi <br>
            <span>Attiva notifiche desktop</span>
          </div>

        </section>
        <!-- / attiva notifiche -->


        <!-- search bar -->
        <section id="search-bar">

            <form action="">

              <button><i class="fa-solid fa-magnifying-glass"></i></button>

              <input type="text" placeholder="Cerca o inizia una nuova contact">

            </form>

        </section>
        <!-- / search bar -->


        <!-- chats -->
        <section id="chats">

          <div class="chats">

            <div v-for="(chat, index) in chats" class="chat" @click="chatDisplayer(index)" :class=" ( displayedIndex == index) ? 'active' : '' ">

              <img :src="'img/avatar' + chat.avatar + '.jpg'" alt="">
    
              <div class="contact">
                <div>
                  {{chat.name}} <br>
                  <span v-for="(el, index) in chat.messages" v-show="index === arrayLength(chat.messages)">{{el.message}}</span>
                </div>
                <span v-for="(el, index) in chat.messages" v-show="index === arrayLength(chat.messages)">{{el.date}}</span>
              </div>

            </div>

          </div>
  
          <div class="barra-laterale">
            <i class="fa-solid fa-caret-up"></i>
            <i class="fa-solid fa-caret-down"></i>
          </div>

        </section>
        <!-- / chats -->
        
      </div>
      <!-- / container left -->

      <!-- container right -->      
      <div id="container-right">

        <!-- header -->
        <section class="header ">

          <div class="left">
            <img :src="`img/avatar${chats[displayedIndex].avatar}.jpg`" alt="">
            <span>{{chats[displayedIndex].name}} <br> <span>ultimo acceso oggi alle</span> </span>
          </div>

          <div class="right">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>

        </section>
        <!-- / header -->


        <!-- chat room -->
        <section id="chat-room">

          <div class="container clearfix">
            
            <template v-if="!chats[displayedIndex].visible">
              <div v-for="(el, index) in chats[displayedIndex].messages" class="message" :class="el.status">
                {{el.message}}
                <span>{{el.date}}</span>
              </div>
            </template>
            
            <template v-else>
              <div v-for="el in chats[0].messages" class="message" :class="el.status">
                {{el.message}}
                <span>{{el.date}}</span>
              </div>
            </template>
            

          </div>

          <div class="barra-laterale">
            <i class="fa-solid fa-caret-up"></i>
            <i class="fa-solid fa-caret-down"></i>
          </div>

        </section>
        <!-- / chat room -->


        <!-- tastiera -->
        <section id="tastiera">
          <i class="fa-regular fa-face-smile"></i>

          <input v-model="nuovoMessaggio" type="text" placeholder="Scrivi un messaggio">

          <i class="fa-solid fa-microphone"></i>
        </section>
        <!-- / tastiera -->

      </div>
      <!-- / container right -->

    </div>

  
  <script src="script.js"></script>
</body>
</html>