
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
  border-radius: 50%;
  margin-right: 10px;
}

.barra-laterale {
  background-color: #F1F1F1;
  height: 100%;
  width: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.barra-laterale i {
  font-size: .7rem;
  color: #B1B1B1;
}

.active {
  background-color: #EAEAEA;
}